* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  font-size: 12px;
  padding: 5px;

  #editor,
  #result {
    width: 50%;
    height: calc(100vh - 10px);
    overflow: auto;
    border: 1px solid #000;
    padding: 0 10px;
    margin: 0 5px;
    position: relative;
  }
  #result {
    line-height: 1.8em;
    letter-spacing: 0.1em;
  }

  .CodeMirror {
    height: 100%;
    font-size: 14px;
  }
  .CodeMirror-lines,
  #resultBox {
    margin-bottom: 700px;
    position: relative;
  }
}
